<!doctype html>
<html lang="en">
  <head>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <script type="text/javascript" src="scripts/angular.min.js"></script>
    <script type="text/javascript" src="app/app.js"></script>

    <style>
      .emptyMessage {
        font-weight: bold;
        color: red;
        font-size: 1.2em;
      }
      li {
        margin-bottom: 7px;
        font-size: 1.2em;
      }
      li > button {
        margin-left: 6px;
      }
      button > span {
        color: green;
      }
    </style>
</head>

<body ng-app="ShoppingListCheckOff">
  <div class="container">
  <h1>Shopping List Check Off</h1>

  <div class="row">

    <!-- To Buy List -->
    <div class="col-md-6" ng-controller="ToBuyController">
     <h2>To Buy:</h2>
     <ul>
         <li ng-repeat="item in toBuyItems">
             <span>Buy {{ item.quantity }}&nbsp;{{ item.name }}</span>
             <button class="btn btn-default" ng-click="buyItem(item.name)"><span class="glyphicon glyphicon-ok"></span> Bought</button></li>
         </li>
     </ul>

     <div class="emptyMessage" ng-if="toBuyItems.length == 0">Everything is bought!</div>
    </div>

    <!-- Already Bought List -->
    <div class="col-md-6" ng-controller="AlreadyBoughtController">
     <h2>Already Bought:</h2>
     <ul>
         <li ng-repeat="item in boughtItems">
             <span>Bought {{ item.quantity}}&nbsp;{{ item.name }}</span>
             <button class="btn btn-default" ng-click="discardBoughtItem(item.name)"><span class="glyphicon glyphicon-remove"></span> Discard</button></li>
         </li>
     </ul>
     <div class="emptyMessage" ng-if="boughtItems == null || boughtItems.length < 1">Nothing bought yet.</div>
    </div>
  </div>
</div>

</body>
</html>